<?xml version="1.0"?>
<launch>
  
  <include file="$(find sensor_fusion)/launch/gazebo/small_world_gazebo.launch">
  </include>
  
  <include file="$(find pioneer_ros)/launch/pioneer_controller_spin_recover.launch">
  </include>
  
  <include file="$(find pioneer_description)/launch/frontier_map.launch">
  <arg name="rviz_name" value="pioneer"/>
  </include>
  
  <include file="$(find sensor_fusion)/launch/fusion.launch"/>
  
  <!-- Include move base launch file -->
  <!-- Use with Pioneer Gazebo simulation and Pioneer3dx robot platform -->
  <include file="$(find pioneer_2dnav)/move_base.launch"/>
  <!-- Move base clients for waypoint navigation -->
  <node pkg="simple_navigation_goals" type="base_link_navigation_client" name="base_link_goal_client" output="screen"/>
  <node pkg="simple_navigation_goals" type="map_navigation_client" name="map_goal_client" output="screen"/>
  
  <node name="map_server" pkg="map_server" type="map_server" args="$(find sensor_fusion)/maps/map.yaml"/>
  
  <include file="$(find amcl)/examples/amcl_diff.launch">
    <remap from="scan" to="base_scan"/>
  </include>
  
  <!-- Include move base launch file -->
  <!-- Use with Pioneer Gazebo simulation and Pioneer3dx robot platform -->
  <include file="$(find pioneer_2dnav)/move_base.launch"/>
  
  <!-- Move base clients for waypoint navigation -->
  <node pkg="simple_navigation_goals" type="base_link_navigation_client" name="base_link_goal_client" output="screen"/>
  <node pkg="simple_navigation_goals" type="map_navigation_client" name="map_goal_client" output="screen"/>
  
</launch>
