<?xml version="1.0"?>
<launch>
  <arg name="rviz_name" default="rviz_demo"/>
  <arg name="model" default="$(find pioneer_description)/urdf/pioneer3dx.xacro"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bot_description)/launch/$(arg rviz_name).rviz"/>

</launch>
