<?xml version="1.0"?>
<launch>
  
  <include file="$(find bot_description)/launch/minimal_with_urg.launch">
  </include>
  
  <!-- Gmapping -/->
  <arg name="custom_gmapping_launch_file" default="$(find bot_description)/launch/hokuyo_gmapping.launch.xml"/>
  <include file="$(arg custom_gmapping_launch_file)"/>
  -->
  
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
   args="0.125 0.0 0.4 0.0 0.0 0.0 /base_link /hokuyo_laser 20" />


  <!-- Move base -/->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
    <arg name="base_frame_id" value="base_footprint" />
  </include>
  -->
    
</launch>
