<?xml version="1.0"?>
<launch>
  
  <include file="$(find sensor_fusion)/launch/gazebo/turtlebot_small_world.launch"/>
  
  <include file="$(find turtlebot_gazebo)/launch/amcl_demo.launch"/>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sensor_fusion)/rviz/odom_demo.rviz"/>
  
  <include file="$(find sensor_fusion)/launch/fusion.launch"/>
  
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
    args="0.125 0.0 0.4 0.0 0.0 0.0 /base_link /laser 20" />

  
  <node name="map" pkg="map_server" type="map_server" args="/home/kikot/ROS/maps/smap.yaml" />
  
  
</launch>
